.App {
  text-align: center;
}

.App-parent {
  position: relative;
}

.App-logo {
  position: relative;
  height: 40vmin;
  pointer-events: none;
}

.App-logo2 {
  position: absolute;
  height: 40vmin;
  left: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  color: yellow;
}

.judul {
  color: blue;
  font-size: 20px;
}

.ubahwarnaBlue {
  color: blue;
}

.ubahwarnaRed {
  color: red;
}